################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NoSqlWebApp/bin
/NoSqlWebApp/obj
